.text-search-bar {
    display: flex; /* Arrange elements horizontally */
    flex-direction: column; /* Stack elements vertically */
    padding: 0px 5%; /* Add some padding */
    
  }
  
  .text-content {
    font-size: 46px;
    font-weight:500;
    font-family: Inter, sans-serif;
  }
  
  .search-and-buttons {
    display: flex;
    align-items: center; /* Vertically align search bar and buttons */
    margin-top: 5px; /* Add some space between text and search bar */
  }
  
  .search-input {
    background-color: #F5f5f5;
    width: 40%;
    height: 48px;
    padding: 5px 10px; /* Adjust padding as needed */
    border: 0px solid #ccc; /* Basic search bar border */
    border-radius: 3px; /* Rounded corners for aesthetics */
    font-size: 14px; /* Adjust font size for search bar */
  }
  
  .buttons {
    display: flex;
    margin-left: auto; /* Move buttons to the right side */
    height: 20px;
    width: 20px;
  }
  
  .box{
    background-color: #F5f5f5;
    width: 100%;
    height:55vh;
    margin-top: 3%;
    border: 1px solid #ccc; /* Basic search bar border */
    border-radius: 7px; /* Rounded corners for aesthetics */
    font-size: 14px; /* Adjust font size for search bar */
  }
  
  .NoFiles{
    display: flex;
    justify-content: center; /* Horizontally center content */
    text-align: center;
    align-items: center; /* Vertically center content (optional) */
    color: #b3b3b3;
  }
  .WithFiles{
    overflow-y: auto;
    scrollbar-width: none;
    padding-bottom: 2%;
    flex-direction: column;
}
  
  /* .card{
    padding: 1%;
    background-color: white;
    width: 95%;
    margin-left: 2%;
    height: 10vh;
    margin-top: 20px;
    margin-bottom: 5px;
    border: 1px solid #ccc; /* Basic search bar border 
    border-radius: 7px; /* Rounded corners for aesthetics 
  } */

  .filename{
    font-size: medium;
    font-weight: 600;
    font-family: Inter, sans-serif;
    padding: 2%;
  }

  .card {
    background-color: white; /* Optional background color */
    padding: 20px 30px 50px 30px; /* Adjust padding as needed */
    border-bottom-color: red ;
    border-bottom-width: 10px ;
    border: 1px solid #ccc;
    border-radius: 5px; 

    width: 90%;
    margin-left: 2%;
    height: 5vh;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  
  .title-and-buttons {
    display: flex;
    align-items: center; 
  }
  
  .title {
    font-family: Inter, sans-serif;
    margin-right: 10px; /* Space between title and buttons */
    font-size: large    ;
    font-weight: 500;
  }
  
  .button {
    /* Style your buttons here */
    margin-left: 5px; /* Space between buttons */
    height: 20px;
    width: 20px;
  }
  
  .status-and-line {
    display: flex; /* Enable flexbox for status and color line */
    justify-content: center; 
    text-align: center;
    
  }
  
  .status {
    margin-left: auto;
  }
  
  
  @import "rsuite/dist/rsuite.css";